<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777373636252-oo67nrogcftdd3o66nj5pd1k61s9h37d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777373636252-oo67nrogcftdd3o66nj5pd1k61s9h37d</string>
	<key>API_KEY</key>
	<string>AIzaSyCC3G4piM7cBIG7vQex2eFbWBt4s_ZTGy4</string>
	<key>GCM_SENDER_ID</key>
	<string>777373636252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vsevolond.BmstuSchedule</string>
	<key>PROJECT_ID</key>
	<string>bmstuschedule-d202f</string>
	<key>STORAGE_BUCKET</key>
	<string>bmstuschedule-d202f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777373636252:ios:e4249c5a77026428583f59</string>
</dict>
</plist>